.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropdown {
  position: absolute;
  display: inline;
  z-index:1;
}
.body{
  background-image: url("./vector.jpg");
  opacity: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content input:hover {background-color: #f1f1f1;}

.box{
  width: 500px;
  min-height: 600px;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

._m_title{
  display:inline;
  font-weight: bold;
  font-size:1.5vw;
}

.buttons{
  position: absolute;
  height: 2vw;
  right: 2.5vw;
  top: 3.5vw;
}

.h2{
  position: absolute;
}

._title{
  display:inline;
  font-weight: bold;
  font-size:1vw;
}
._subt{
  display:inline;
  font-size:1vw;
}
.App {
  background-color: #282c34;
  min-height: 10vw;
  display:flex;
}

.appLogo {
  height:6vw;
  position: absolute;
  top: 2vw;
  left: 10vw;
}

.Bar {
  border-left: 7px solid white; 
  height: 6vw; 
  position:absolute; 
  left: 20vw; 
  top: 2vw;
}

.Titulo {
  color: white;
  position: absolute;
  left: 24vw;
  top:3vw;
  font-family: Garamond;
  font-size: 3vw;
}

@media only screen and (max-width: 1024px) {
  ._m_title{
    font-size:6vw;
  }

  ._title{
    font-size:3.5vw;
  }
  ._subt{
    font-size:3.5vw;
  }
  .box{
    width: 80%;
    min-height: 60%;
  }
  
}
@media only screen and (max-width: 900px) {
  .buttons{
    right: 2.5vw;
    top: 2.5vw;
  }

  .Titulo {
    left: 24vw;
    top:3vw;
    font-size: 4vw;
  }
  
}
@media only screen and (max-width: 700px) {
  .button{
    width: 12vw;
    height: 4vw;
    top: 1vw;
  }

  .textS{
    font-size: 2.3vw;
  }
  
}